<div class="d-flex">
  <h2 mat-dialog-title>{{'ADD_DOCUMENT' | translate}}</h2>
  <button mat-icon-button class="close-button ms-auto" (click)="closeDialog()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="documentForm">
    <div class="row">
      <div class="col-md-6 m-b-10">
        <label class="form-label">{{'NAME' | translate}}</label>
        <input formControlName="name" class="form-control" type="text">
        <div *ngIf="documentForm.get('name').touched && documentForm.get('name').errors">
          <div class="text-danger" *ngIf="documentForm.get('name').errors?.['required']">
            {{'NAME_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
      <div class="col-md-6 m-b-10">
        <mat-label class="form-label">{{'CATEGORY' | translate}}</mat-label>
        <mat-select class="form-select" formControlName="categoryId">
          <mat-option>-- {{'NONE' | translate}} --</mat-option>
          <mat-option *ngFor="let category of allCategories" [value]="category.id">
            <div class="country-item" [ngStyle]="{'margin-left.px': category.deafLevel* 20}">
              <div *ngIf="!category.parentId">
                <b> {{category.name}}</b>
              </div>
              <div *ngIf="category.parentId">
                {{category.name}}
              </div>
            </div>
          </mat-option>
        </mat-select>
        <div *ngIf="documentForm.get('categoryId').touched && documentForm.get('categoryId').errors">
          <div class="text-danger" *ngIf="documentForm.get('categoryId').errors?.['required']">
            {{'CATEGORY_IS_REQUIRED' | translate}}
          </div>
        </div>
      </div>
      <div class="col-sm-12 m-b-10">
        <label class="form-label">{{'DESCRIPTION' | translate}}</label>
        <textarea formControlName="description" class="form-control">
        </textarea>
      </div>
      <div class="col-md-12 m-b-10">
        <label class="form-label">{{'DOCUMENT_UPLOAD' | translate}}</label>
        <input class="form-control" #file (change)="upload(file.files)" type="file">
        <div *ngIf="documentForm.get('url').touched && documentForm.get('url')?.errors">
          <div class="text-danger" *ngIf="documentForm.get('url').errors?.['required']">
            {{'DOCUMENT_IS_REQUIRED' | translate}}
          </div>
        </div>
        <div
          *ngIf="documentForm.get('extension').touched && !documentForm.get('url')?.errors && documentForm.get('extension').errors">
          <div class="text-danger" *ngIf="documentForm.get('extension').errors?.['required']">
            {{'DOCUMENT_TYPE_IS_NOT_ALLOW' | translate}}
          </div>
        </div>
        <div
          *ngIf="documentForm.get('fileSize').touched && !documentForm.get('url')?.errors && documentForm.get('fileSize').errors">
          <div class="text-danger" *ngIf="documentForm.get('fileSize').errors?.['required']">
            Document maximum size is {{maximumFileSizeInMB}}MB.
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-b-10">
        <div class="" formArrayName="documentMetaTags"
          *ngFor="let documentmetatag of documentMetaTagsArray.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="row">
              <div class="col">
                <label class="form-label" *ngIf="i===0"> {{'META_TAGS' | translate}} </label>
                <div class="input-group m-t-10">
                  <input (change)="onMetatagChange($event,i)" formControlName="metatag" class="form-control"
                    type="text">
                  <button *ngIf="i===0" (click)="onAddAnotherMetaTag()" class="btn btn-outline-success" type="button">
                    <i class="fas fa-plus"></i></button>
                  <button *ngIf="i!==0" (click)="onDeleteMetaTag(i)" class="btn btn-outline-danger" type="button"><i
                      class="fas fa-trash-alt"></i></button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-md-12">
        <mat-progress-bar *ngIf="showProgress" mode="determinate" [value]="progress"></mat-progress-bar>
      </div>
      <div class="m-t-10 col-md-12">
        <button class="btn btn-success btn-sm m-r-10" (click)="SaveDocument()" cdkFocusInitial><i
            class="fas fa-save"></i> {{'SAVE' | translate}}</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="closeDialog()"><i class="fas fa-times-circle"></i>
          {{'CANCEL' | translate}}</button>
      </div>
    </div>
  </form>
</div>
